<!DOCTYPE html>
<html layout:decorate="~{/layout/layout}">
<section layout:fragment="content" class="section-prod-list">
    <div class="container">
        <div class="card">
            <div class="card-header">
                상품상세정보
            </div>

            <ul class="list-group list-group-flush gap-2">
                <li class="list-group-item">
                    <img class="w-full max-w-[300px]" src="https://i.imgur.com/PVsCFy1.png" alt="상품이미지">
                </li>
                <li class="list-group-item">
                    <span>번호 : </span>
                    <span th:text="${product.id}"></span>
                </li>
                <li class="list-group-item">
                    <span>등록날짜 : </span>
                    <span th:text="${#temporals.format(product.createDate, 'yyyy-MM-dd HH:mm')}"></span>
                </li>
                <li class="list-group-item">
                    <span>수정날짜 : </span>
                    <span th:text="${#temporals.format(product.modifyDate, 'yyyy-MM-dd HH:mm')}"></span>
                </li>
                <li class="list-group-item">
                    <span>상품명 : </span>
                    <span class="font-bold" th:text="${product.name}"></span>
                </li>
                <li class="list-group-item">
                    <span>가격 : </span>
                    <span th:text="${product.price}"></span>원
                </li>
                <li class="list-group-item">
                    <span>마켓 : </span>
                    <span class="badge bg-dark">cod</span>
                </li>
            </ul>
        </div>

        <div class="card mt-[30px]">
            <div class="card-header">
                질문등록
            </div>

            <div class="card-body">
                <form sec:authorize="isAuthenticated()" th:action="@{|/question/create/${product.id}|}" method="POST">
                    <div class="mt-3">
                        <div class="mb-3">
                            <label for="content" class="form-label">내용</label>
                            <textarea name="content" id="content" class="form-control" row="7"></textarea>
                        </div>
                        <input type="submit" value="등록하기" class="btn btn-primary">
                    </div>
                </form>
                <div sec:authorize="isAnonymous()">
                    <a th:href="@{/member/login}">로그인</a> 후 이용해주세요.
                </div>
            </div>
        </div>

        <div class="card mt-[30px]">
            <div class="card-header">
                질문 리스트
            </div>

            <ul class="list-group list-group-flush gap-2">
                <li th:each="question : ${product.questionList}" class="list-group-item">
                    <span th:text="${question.id}" class="mr-2"></span>
                    <span th:text="${question.content}"></span>

                    <a
                            th:href="@{|/question/modify/${question.id}|}"
                            class="btn btn-sm btn-link"
                            sec:authorize="isAuthenticated()"
                            th:if="${question.member != null and #authentication.getPrincipal().getUsername() == question.member.username}"
                    >
                        수정
                    </a>
                    <a
                            th:href="@{|/question/delete/${question.id}|}"
                            class="btn btn-sm btn-link"
                            onclick="if ( confirm('정말 삭제하시겠습니까?' ) == false ) return false;"
                            sec:authorize="isAuthenticated()"
                            th:if="${question.member != null and #authentication.getPrincipal().getUsername() == question.member.username}"
                    >
                        삭제
                    </a>
                </li>
            </ul>
            <script>
                $(document).ready(function() {
                    $(window).on('beforeunload', function() {
                        sessionStorage.setItem('scrollPosition', $(window).scrollTop());
                    });

                    if (sessionStorage.getItem('scrollPosition')) {
                        $(window).scrollTop(sessionStorage.getItem('scrollPosition'));
                        sessionStorage.removeItem('scrollPosition');
                    }
                });
            </script>
        </div>
    </div>


</section>
</html>