<!DOCTYPE html>
<html layout:decorate="~{/layout/layout}">
<section layout:fragment="content" class="section-prod-list">
    <div class="container">
        <h1 class="text-[1.5rem] font-bold flex justify-center pt-5 pb-5">강의 리스트</h1>
        <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5 mt-3">
            <li th:each="product, loop : ${paging}" class="flex flex-col group xl:w-[300px] w-full">
                <a th:href="@{|/product/detail/${product.id}|}"
                   class="border border-black h-[250px] transition duration-300 rounded-lg hover:rounded-lg hover:-translate-y-1.5 hover:transition hover:duration-300 hover:shadow-md"
                >
                    <img class="object-cover object-center block w-full h-full rounded-lg" src="https://i.imgur.com/PVsCFy1.png" alt="">
                </a>
                <a th:href="@{|/product/detail/${product.id}|}" th:text="${product.name}" class="text-center md:!text-left mt-2"></a>
                <a th:href="@{|/product/detail/${product.id}|}" th:text="${product.price}+원" class="text-center md:!text-left"></a>
            </li>
        </ul>

        <!-- 페이징 처리 시작 -->
        <ul th:if="${!paging.isEmpty()}" class="pagination flex justify-center mt-5">
            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number-1}">
                    <span>&lt;</span>
                </a>
            </li>

            <li th:each="page : ${#numbers.sequence(0, paging.totalPages-1)}"
                th:if="${page >= paging.number-5 and page <= paging.number+5}"
                th:classappend="${page == paging.number} ? 'active'"
                class="page-item"
            >
                <a th:text="${page+1}" class="page-link" href="javascript:void(0)" th:data-page="${page}"></a>
            </li>

            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number+1}">
                    <span>&gt;</span>
                </a>
            </li>
        </ul>
        <form th:action="@{/product/list}" method="get" id="searchForm">
            <input type="hidden" id="kw" name="kw" th:value="${kw}">
            <input type="hidden" id="page" name="page" th:value="${paging.number}">
        </form>
    </div>
    <script layout:fragment="script" type="text/javascript">
        $(document).ready(function () {
            $(".page-link").on("click", function () {
                $("#page").val($(this).data("page"));
                $("#searchForm").submit();
            });

            $("#btn_search").on("click", function () {
                $("#kw").val($("#search_kw").val());
                $("#page").val(0);
                $("#searchForm").submit();
            });
        });
    </script>
</section>?
</html>