<!DOCTYPE html>
<html layout:decorate="~{/layout/layout}">
<section layout:fragment="content" class="section-prod-list">
    <div class="container">
        <h1 class="text-[1.5rem] font-bold">강의 리스트</h1>
        <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-[20px] mt-3">
            <li th:each="product, loop : ${paging}" class="flex flex-col">
                <a th:href="@{|/product/detail/${product.id}|}" data-before="VIEW MORE">
                    <img class="block w-full" src="https://i.imgur.com/PVsCFy1.png" alt="">
                </a>
                <a th:href="@{|/product/detail/${product.id}|}" th:text="${product.name}" class="text-center mt-2"></a>
                <a th:href="@{|/product/detail/${product.id}|}" th:text="${product.price}+원" class="text-center mt-2"></a>
            </li>
        </ul>
<!--        페이징처리시작-->
        <ul th:if="${!paging.isEmpty()}" class="pagination flex justify-center mt-5">
            <li class="page-item" th:classappend="@{!paging.hasPrevious} ? 'disabled'">
                <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number - 1}">
                    <span>&lt;</span>
                </a>
            </li>

            <li th:each="page : ${#numbers.sequence(0,paging.totalPages-1)}"
                th:if="${page >= paging.number-5 and page <= paging.number+5}"
                th:classappend="${page == paging.number} ? 'active'"
                class="page-item"
            >
                <a  class="page-link" href="javascript:void(0)"  th:text="${page + 1}" th:data-page="${page}"></a>
            </li>

            <li class="page-item" th:classappend="@{!paging.hasNext} ? 'disabled'">
                <a class="page-link" href="javascript:void(0)" th:data-page="${paging.number + 1}">
                    <span>&gt;</span>
                </a>
            </li>
        </ul>


<!--        페이징처리끝-->
        <form th:action="@{/product/list}" method="get" id="searchForm">
            <input type="hidden" id="kw" name="kw" th:value="${kw}">
            <input type="hidden" id="page" name="page" th:value="${paging.number}">
        </form>
    </div>

    <script layout:fragment="script" type="text/javascript">
        const page_elements = document.getElementsByClassName('page-link');
        Array.from(page_elements).forEach(function(element){
            element.addEventListener('click', function(){
                document.getElementById('page').value = this.dataset.page;
                document.getElementById('searchForm').submit();
            });
        });

        const btn_search = document.getElementById('btn_search');
        btn_search.addEventListener('click', function(){
            document.getElementById('kw').value = document.getElementById('search_kw').value;
            document.getElementById('page').value = 0;
            document.getElementById('searchForm').submit();
        });
    </script>
</section>
</html>