<!DOCTYPE html>
<html layout:decorate="~{/layout/layout}">
<section layout:fragment="content" class="flex-1 flex justify-center items-center">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h1 class="text-[20px] font-bold">수강신청 주문 상세페이지</h1>
            </div>

            <ul class="list-group list-group-flush gap-2">

                <li class="list-group-item">
                    <img class="w-full max-w-[300px]" th:src="@{|/gen/${product.thumbnailImg}|}"  alt="상품이미지">
                </li>
                <li class="list-group-item">
                    <span>번호 : </span>
                    <span th:text="${product.id}"></span>
                </li>
                <li class="list-group-item">
                    <span>상품명 : </span>
                    <span class="font-bold" th:text="${product.title}"></span>
                </li>

                <li class="list-group-item">
                    <span>가격 : </span>
                    <span th:text="${product.price}"></span>원
                </li>

            </ul>
        </div>
        <div class="card mt-[30px]">
            <div class="card-header">
                 결제
            </div>
            <div class="card-body">
                <button onclick="pay();" class="btn btn-outline-dark" >결제</button>
                <a href="/order/detail">수강신청</a>
            </div>
        </div>
    </div>

    <script src="https://js.tosspayments.com/v1"></script>
    <!--    th:inline을 써주는이유는 내 상품 값을가져와서쓰기위해-->
    <script th:inline="javascript">

        let amount = /*[[ ${product.price} ]]*/;
        let orderName = /*[[ ${product.title} ]]*/;

        let tossPayments = TossPayments("test_ck_0RnYX2w532wx0qPwM44gVNeyqApQ");

        let path = "/order/";
        let successUrl = window.location.origin + path + "success";
        let failUrl = window.location.origin + path + "fail";
        let callbackUrl = window.location.origin + path + "va_callback";
        let orderId = new Date().getTime();

        function pay(){
            const method = "카드";
            const requestJson = {

            amount: amount,
            orderId: "sample-" + orderId,
            orderName: orderName,
            successUrl: successUrl,
            failUrl: failUrl,
            cardCompany: null,
            cardInstallmentPlan: null,
            maxCardInstallmentPlan: null,
            useCardPoint: false,
            customerName: "박토스",
            customerEmail: null,
            customerMobilePhone: null,
            taxFreeAmount: null,
            useInternationalCardOnly: false,
            flowMode: "DEFAULT",
            discountCode: null,
            appScheme: null,
            }

            tossPayments.requestPayment(method, requestJson)
        }




    </script>

</section>
</html>