<!DOCTYPE html>
<html layout:decorate="~{/layout/layout}">
<section layout:fragment="content" class="section-cart-item-list">
    <div class="container">
        <h1 class="text-[1.5rem] font-bold flex justify-center pt-5 pb-5">장바구니</h1>

        <div class="mt-10">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th ><input type="checkbox" class="form-check-input"></th>
                    <th >이미지</th>
                    <th >상품명</th>
                    <th >가격</th>
                    <th >구매/삭제</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="cartItem : ${cartList}">

                    <td><input type="checkbox" class="form-check-input"></td>
                    <td>
                        <img class="w-[50px] h-[50px] sm:w-[100px] sm:h-[100px] object-cover" src="https://i.imgur.com/PVsCFy1.png" alt="">
                    </td>
                    <td th:text="${cartItem.product.title}"></td>
                    <td th:text="${cartItem.product.price}"></td>
                    <td>
                        <a href="" type="button" class="btn btn-link">구매</a>
                    </td>
                    <td>
                        <a href="" type="button" class="btn btn-link">삭제</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>


</section>
</html>